h1{
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 4rem;
    margin-bottom: 0;
    span{
        color: var(--primary-blue-color);
        font-style: italic;
    }
}

.favorites-subtitle{
    font-size: 1.25rem;
    color: var(--secondary-blue-text-color);
}

.spacer-left{
     margin-left: 10vw;
}
.spacer-right{
     margin-right: 30vw;
}

@media screen and (max-width:755px) {
    .spacer-left{
        margin-left: 5vw;
    }
    .spacer-right{
        margin-right: 5vw;
    }

    h1{
        text-wrap: balance;
        font-size: 2.5rem;
    }

    .favorites-subtitle{
        text-wrap: balance;
        font-size: 1rem;
    }

}
