.banner{
    background: linear-gradient(to left, var(--primary-blue-color), var(--primary-lightdarkblue-color));
    color: var(--primary-white-color);
    min-height: 50vh;
    width: auto;
    text-align: center;
}

.navbar{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1) !important;
}

h1{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
}

.small-yellow-line{
    margin: 5px 0 20px 0;
    width: 120px;
    height: 6px;
    background-color: var(--secondary-yellow-color);
    border: 0;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 550;
}

.spacer-from-side{
    padding: 0 2rem;
}

.spacer-from-bottom{
    margin-bottom: 8rem;
}

@media screen and (max-width: 850px) {
    h1{
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    .search-icon {
        max-width: 20px;
        margin-right: 10px;
    }

    .search-wrapper textarea {
        font-size: 16px;
    }

    .search-wrapper button {
        padding: 12px 30px;
        font-size: 12px;
    }

    .banner{
        min-height: 40vh;
    }

}

@media screen and (max-width: 550px) {
    h1{
        font-size: 6vw;
        margin-top: 2rem;
        padding: 20px;
    }

    .search-wrapper textarea::placeholder{
        color: transparent;
    }

    .search-wrapper textarea{
        width: 80%;
    }


    .search-form {
        padding: 20px;
    }

    .search-form{
        padding-top: 0;
    }

    .banner{
        min-height: 30vh;
    }
}
