.banner{
    background: linear-gradient(to left, var(--primary-blue-color), var(--primary-lightdarkblue-color));
    color: var(--primary-white-color);
    min-height: 50vh;
    width: auto;
    text-align: center;
}

.navbar{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1) !important;
}

h1{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 0.5rem;
}

.search-form {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.search-wrapper {
    background-color: var(--primary-white-color);
    display: flex;
    align-items: center;
    padding: 8px 10px 8px 25px;
    border-radius: 100px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 100;
}

.search-icon {
    margin-right: 15px;
    flex-shrink: 0;
    max-width: 25px;
    height: auto;
}

.search-wrapper textarea {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 18px;
    color: var(--primary-dark-color);

    resize: none;
    overflow: hidden;
    min-height: 23px;
    line-height: 1;
    position: relative;
    top: 9px;
}

.search-wrapper textarea::placeholder {
    color: #ccc;
    font-weight: 400;
}

.search-wrapper button {
    background-color: var(--secondary-yellow-color);
    color: var(--secondary-gray-color);
    border: none;
    border-radius: 100px;
    padding: 15px 40px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-wrapper button:hover {
    background-color: oklch(from var(--secondary-yellow-color) calc(l * 0.95) c h);
}

.small-yellow-line{
    margin: 5px 0 20px 0;
    width: 120px;
    height: 6px;
    background-color: var(--secondary-yellow-color);
    border: 0;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 0;
    font-weight: 550;
}

.spacer-from-side{
    padding: 0 2rem;
}

.spacer-from-bottom{
    margin-bottom: 8rem;
}

@media screen and (max-width: 850px) {
    h1{
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    .search-icon {
        max-width: 20px;
        margin-right: 10px;
    }

    .search-wrapper textarea {
        font-size: 16px;
    }

    .search-wrapper button {
        padding: 12px 30px;
        font-size: 12px;
    }

    .banner{
        min-height: 40vh;
    }

}

@media screen and (max-width: 550px) {
    h1{
        font-size: 6vw;
        margin-top: 2rem;
        padding: 20px;
    }

    .search-wrapper textarea::placeholder{
        color: transparent;
    }

    .search-wrapper textarea{
        width: 80%;
    }


    .search-form {
        padding: 20px;
    }

    .search-form{
        padding-top: 0;
    }

    .banner{
        min-height: 30vh;
    }
}
