.card{
    background-color: var(--secondary-broken-white-color);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .thema{
        color: var(--primary-blue-color);
        font-weight: 700;
        text-transform: uppercase;
    }
    .afstand{
        color: var(--secondary-gray-color);
    }
}

.card-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

.extra-info-container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.extra-info{
    background-color: var(--secondary-border-blur-color);
    color: var(--secondary-gray-color);
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.favoriet-button{
    background-color: blue;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--primary-blue-color);
}
