:root{
    --primary-white-color: white;
    --primary-creme-color: #fcf9f7;
    --primary-blue-color: #0055CC;
    --primary-lightblue-color: #dae2ff;
    --secondary-yellow-color: #FFED00;
    --secondary-lightyellow-color: #fef9c3;
    --primary-dark-color: #000000;
    --secondary-gray-color: #333332;
}

body{
    background-color: var(--primary-creme-color);
}
